## Высказывания

Какие из следующих утверждений можно назвать высказываниями?
* Температура плавления свинца 1500 градусов
* Русский писатель А.С Пушкин родился в 1799
* Все мандарины вкусные
* Второй закон Ньютона выражается формулой F=m•а
* Встань и закрой дверь

Какие из следующих утверждений можно назвать высказываниями?
* Земля плоская
* Это предложение является ложным
* 13 + 24 = 37
* 12**2 = 120

## Выражения в python

Оценим выражение  15 + 7 > 20  - оно правдиво, ведь число 22 больше 20. Давай запишем тоже самое но уже в Python.

In [ ]:
print(15 + 7 > 20)

True

In [ ]:
print((85032/100) * (4597 + 1678) < 200**2 + 78994/141444 * 500**2)

False

Результат программы False - ложь. Удобно что в не зависимости от длины, сложности и количества элементов, в логическом выражении всего два конечных результата:
* True 
* False

##Операторы сравнений

Первая тройка знакома тебе еще с начальной школы:
* «<» (меньше) — условие верно, если первый операнд меньше второго;
* «>» (больше) — условие верно, если первый операнд больше второго;
* «==» (равенство) — условие верно, если два операнда равны;

Комбинируя их между собой можно получить еще три оператора :
* «<=» (меньше или равно) — условие верно, если первый операнд меньше второго или они равны;
* «>=» (больше или равно) — условие верно, если первый операнд больше второго или они равны;
* «!=» (неравенство) — условие верно, если два операнда не равны.

In [ ]:
print(25**2 == 625)

True

In [ ]:
print(42 <= 50 - 8)

True

In [ ]:
print(42 != int("4" + "2"))

False

**Важно!**


Оператор «==» (в отличие от привычного «равно») используется не для присваивания значений, а для сравнения двух объектов между собой.

In [ ]:
a = 123 != 100

In [ ]:
print(a)

True

Переменная хранящая **boolean**  занимает всего один бит информации. Для сравнения int занимает 8 бит,  а float 16.

In [ ]:
print("apple" == "apple")
print("apple" == "banana")

True
False

In [ ]:
print("apple" == "Apple")
print("apple" == "appl")

False
False

Операторы сравнения в Python можно объединять в цепочки. Например:

In [ ]:
x = 15

print(1 <= x <= 20)

True

In [ ]:
print(1 <= x <= 10)

False