In [ ]:
def say_hello():
    print("Hello")


greetings = say_hello

greetings()

Hello

## Функция **map**

In [ ]:
numbers = "123 142 79 66 300 55 32 56 32"

In [ ]:
numbers = numbers.split()
numbers

['123', '142', '79', '66', '300', '55', '32', '56', '32']

In [ ]:

for i in range(len(numbers)):
  numbers[i] = int(numbers[i])

print(numbers)

[123, 142, 79, 66, 300, 55, 32, 56, 32]

In [ ]:
numbers = "123 142 79 66 300 55 32 56 32"
numbers = map(int, numbers.split())

print(numbers)

<map object at 0x7f3e9c972850>

In [ ]:
numbers = "123 142 79 66 300 55 32 56 32"
numbers = list(map(int, numbers.split()))

print(numbers)

[123, 142, 79, 66, 300, 55, 32, 56, 32]

In [ ]:
def polite_name(name):
   return 'Mr.' + name

guests = ["Boris","Ivan","Bob"]
guest_iterator = map(polite_name, guests)

list(guest_iterator)

['Mr.Boris', 'Mr.Ivan', 'Mr.Bob']

## Анонимные функции

In [ ]:
def sum_squares(a,b):
  c = a**2 + 2*b*a + b**2
  return c

In [ ]:
sum_squares = lambda a,b: a**2 + 2*b*a + b**2

In [ ]:
sum_squares(5,6)

121

## **map** и анонимные функции

In [ ]:
guests=["Boris","Ivan","Bob"]
 
guests = list(map(lambda name:"Mr."+name, guests))

In [ ]:
guests

['Mr.Boris', 'Mr.Ivan', 'Mr.Bob']